body {
	width: 75%;
	margin: 0 auto;
}

header {
	width: 100%;
	margin-top: 15px;
	background: rgba(222,222,222,0.5);
	overflow: hidden;
	padding: 15px;
}

h1 {
	font-family: "Playball", cursive;
	font-size: 350%;
}

h2 {
	font-size: 180%;
	font-family: 'Open Sans', sans-serif;	
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 130%;
	font-family: 'Lato', sans-serif;
	font-style: italic;
}

.button {
    background-color: #09C;
    color: #fff;
    float: right;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 95px;
    height: 45px;
}


section {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
}


form    {
margin-top: 20px;
width:98.5%;
height:460px;
font-family: 'Open Sans' sans-serif;
line-height: 24px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:20px;
border: 1px solid #999;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input    {
width:420px;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea {
width: 420px;
border: 1px solid #999;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
background:#3366FF;
color:#FFFFFF;
}
